/*
 * Exoscale Public API
 *
 *  Infrastructure automation API, allowing programmatic access to all Exoscale products and services.  The [OpenAPI Specification](http://spec.openapis.org/oas/v3.0.3.html) source of this documentation can be obtained here:  * [JSON format](https://openapi-v2.exoscale.com/source.json) * [YAML format](https://openapi-v2.exoscale.com/source.yaml)
 *
 * The version of the OpenAPI document: 2.0.0
 * Contact: api@exoscale.com
 * Generated by: https://openapi-generator.tech
 */

use reqwest;
use serde::{Deserialize, Serialize};
use crate::{models, utils,apis::ResponseContent};
use super::{Error, configuration};


/// struct for typed errors of method [`create_anti_affinity_group`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum CreateAntiAffinityGroupError {
    UnknownValue(serde_json::Value),
}


/// struct for typed errors of method [`delete_anti_affinity_group`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum DeleteAntiAffinityGroupError {
    UnknownValue(serde_json::Value),
}


/// struct for typed errors of method [`get_anti_affinity_group`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum GetAntiAffinityGroupError {
    UnknownValue(serde_json::Value),
}


/// struct for typed errors of method [`list_anti_affinity_groups`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum ListAntiAffinityGroupsError {
    UnknownValue(serde_json::Value),
}


pub async fn create_anti_affinity_group(configuration: &configuration::Configuration, create_anti_affinity_group_request: models::CreateAntiAffinityGroupRequest) -> Result<models::Operation, Error<CreateAntiAffinityGroupError>> {
    let local_var_create_anti_affinity_group_request = create_anti_affinity_group_request;

    let path_params_map = std::collections::HashMap::new();

    let query_params_vec: Vec<(&str, String)> = Vec::new();
    let query_params_option = if query_params_vec.is_empty() { None } else { Some(query_params_vec.as_slice())};
            let body_payload_option = Some(local_var_create_anti_affinity_group_request);

    utils::execute_request(
    configuration,
    reqwest::Method::POST,
    "/anti-affinity-group",
    path_params_map,
    query_params_option,
    body_payload_option,
    ).await
}
pub async fn delete_anti_affinity_group(configuration: &configuration::Configuration, id: String) -> Result<models::Operation, Error<DeleteAntiAffinityGroupError>> {
    let local_var_id = id;

    let mut path_params_map = std::collections::HashMap::new();
                path_params_map.insert("id".to_string(), crate::apis::urlencode(&local_var_id));

    let query_params_vec: Vec<(&str, String)> = Vec::new();
    let query_params_option = if query_params_vec.is_empty() { None } else { Some(query_params_vec.as_slice())};
        let body_payload_option: Option<()> = None;

    utils::execute_request(
    configuration,
    reqwest::Method::DELETE,
    "/anti-affinity-group/{id}",
    path_params_map,
    query_params_option,
    body_payload_option,
    ).await
}
pub async fn get_anti_affinity_group(configuration: &configuration::Configuration, id: String) -> Result<models::AntiAffinityGroup, Error<GetAntiAffinityGroupError>> {
    let local_var_id = id;

    let mut path_params_map = std::collections::HashMap::new();
                path_params_map.insert("id".to_string(), crate::apis::urlencode(&local_var_id));

    let query_params_vec: Vec<(&str, String)> = Vec::new();
    let query_params_option = if query_params_vec.is_empty() { None } else { Some(query_params_vec.as_slice())};
        let body_payload_option: Option<()> = None;

    utils::execute_request(
    configuration,
    reqwest::Method::GET,
    "/anti-affinity-group/{id}",
    path_params_map,
    query_params_option,
    body_payload_option,
    ).await
}
pub async fn list_anti_affinity_groups(configuration: &configuration::Configuration, ) -> Result<models::ListAntiAffinityGroups200Response, Error<ListAntiAffinityGroupsError>> {

    let path_params_map = std::collections::HashMap::new();

    let query_params_vec: Vec<(&str, String)> = Vec::new();
    let query_params_option = if query_params_vec.is_empty() { None } else { Some(query_params_vec.as_slice())};
        let body_payload_option: Option<()> = None;

    utils::execute_request(
    configuration,
    reqwest::Method::GET,
    "/anti-affinity-group",
    path_params_map,
    query_params_option,
    body_payload_option,
    ).await
}
