/*
 * Exoscale API
 *
 * Infrastructure automation API, allowing programmatic access to all Exoscale products and services.
 *
 * The version of the OpenAPI document: 2.0.0
 * Contact: support@exoscale.com
 * Generated by: https://openapi-generator.tech
 */

use reqwest;
use serde::{Deserialize, Serialize};
use crate::{models, utils,apis::ResponseContent};
use super::{Error, configuration};


/// struct for typed errors of method [`reset_load_balancer_service_field`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum ResetLoadBalancerServiceFieldError {
    UnknownValue(serde_json::Value),
}


pub async fn reset_load_balancer_service_field(configuration: &configuration::Configuration, id: String, service_id: String, field: &str) -> Result<models::Operation, Error<ResetLoadBalancerServiceFieldError>> {
    let local_var_id = id;
    let local_var_service_id = service_id;
    let local_var_field = field;

    let mut path_params_map = std::collections::HashMap::new();
                path_params_map.insert("id".to_string(), crate::apis::urlencode(local_var_id));
                path_params_map.insert("service_id".to_string(), crate::apis::urlencode(local_var_service_id));
                path_params_map.insert("field".to_string(), crate::apis::urlencode(local_var_field));

    let query_params_vec: Vec<(&str, String)> = Vec::new();
    let query_params_option = if query_params_vec.is_empty() { None } else { Some(query_params_vec.as_slice())};
        let body_payload_option: Option<()> = None;

    utils::execute_request(
    configuration,
    reqwest::Method::DELETE,
    "/load-balancer/{id}/service/{service_id}/{field}",
    path_params_map,
    query_params_option,
    body_payload_option,
    ).await
}
