/*
 * Exoscale API
 *
 * Infrastructure automation API, allowing programmatic access to all Exoscale products and services.
 *
 * The version of the OpenAPI document: 2.0.0
 * Contact: support@exoscale.com
 * Generated by: https://openapi-generator.tech
 */

use reqwest;
use serde::{Deserialize, Serialize};
use crate::{models, utils,apis::ResponseContent};
use super::{Error, configuration};


/// struct for typed errors of method [`get_impact_estimate`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum GetImpactEstimateError {
    Status400(models::ImpactErrorResponse),
    Status500(models::ImpactErrorResponse),
    UnknownValue(serde_json::Value),
}


/// struct for typed errors of method [`get_impact_report`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum GetImpactReportError {
    Status400(models::ImpactErrorResponse),
    Status500(models::ImpactErrorResponse),
    UnknownValue(serde_json::Value),
}


pub async fn get_impact_estimate(configuration: &configuration::Configuration, get_impact_estimate_request: models::GetImpactEstimateRequest) -> Result<models::GetImpactEstimate200Response, Error<GetImpactEstimateError>> {
    let local_var_get_impact_estimate_request = get_impact_estimate_request;

    let path_params_map = std::collections::HashMap::new();

    let query_params_vec: Vec<(&str, String)> = Vec::new();
    let query_params_option = if query_params_vec.is_empty() { None } else { Some(query_params_vec.as_slice())};
            let body_payload_option = Some(local_var_get_impact_estimate_request);

    utils::execute_request(
    configuration,
    reqwest::Method::POST,
    "/environmental-impact/estimate",
    path_params_map,
    query_params_option,
    body_payload_option,
    ).await
}
pub async fn get_impact_report(configuration: &configuration::Configuration, from: Option<&str>, to: Option<&str>) -> Result<models::ImpactBreakdown, Error<GetImpactReportError>> {
    let local_var_from = from;
    let local_var_to = to;

    let path_params_map = std::collections::HashMap::new();

    let mut query_params_vec: Vec<(&str, String)> = Vec::new();
                        if let Some(value) = &local_var_from {
                            query_params_vec.push(("from", value.to_string()));
                        }
                        if let Some(value) = &local_var_to {
                            query_params_vec.push(("to", value.to_string()));
                        }
    let query_params_option = if query_params_vec.is_empty() { None } else { Some(query_params_vec.as_slice())};
        let body_payload_option: Option<()> = None;

    utils::execute_request(
    configuration,
    reqwest::Method::GET,
    "/environmental-impact/report",
    path_params_map,
    query_params_option,
    body_payload_option,
    ).await
}
