/*
 * Exoscale API
 *
 * Infrastructure automation API, allowing programmatic access to all Exoscale products and services.
 *
 * The version of the OpenAPI document: 2.0.0
 * Contact: support@exoscale.com
 * Generated by: https://openapi-generator.tech
 */

use reqwest;
use serde::{Deserialize, Serialize};
use crate::{models, utils,apis::ResponseContent};
use super::{Error, configuration};


/// struct for typed errors of method [`get_active_nodepool_template`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum GetActiveNodepoolTemplateError {
    UnknownValue(serde_json::Value),
}


pub async fn get_active_nodepool_template(configuration: &configuration::Configuration, kube_version: &str, variant: &str) -> Result<models::GetActiveNodepoolTemplate200Response, Error<GetActiveNodepoolTemplateError>> {
    let local_var_kube_version = kube_version;
    let local_var_variant = variant;

    let mut path_params_map = std::collections::HashMap::new();
                path_params_map.insert("kube_version".to_string(), crate::apis::urlencode(local_var_kube_version));
                path_params_map.insert("variant".to_string(), crate::apis::urlencode(local_var_variant));

    let query_params_vec: Vec<(&str, String)> = Vec::new();
    let query_params_option = if query_params_vec.is_empty() { None } else { Some(query_params_vec.as_slice())};
        let body_payload_option: Option<()> = None;

    utils::execute_request(
    configuration,
    reqwest::Method::GET,
    "/sks-template/{kube_version}/{variant}",
    path_params_map,
    query_params_option,
    body_payload_option,
    ).await
}
