/*
 * Exoscale API
 *
 * Infrastructure automation API, allowing programmatic access to all Exoscale products and services.
 *
 * The version of the OpenAPI document: 2.0.0
 * Contact: support@exoscale.com
 * Generated by: https://openapi-generator.tech
 */

use reqwest;
use serde::{Deserialize, Serialize};
use crate::{models, utils,apis::ResponseContent};
use super::{Error, configuration};


/// struct for typed errors of method [`get_env_impact`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum GetEnvImpactError {
    UnknownValue(serde_json::Value),
}


/// struct for typed errors of method [`get_organization`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum GetOrganizationError {
    UnknownValue(serde_json::Value),
}


/// struct for typed errors of method [`get_usage_report`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum GetUsageReportError {
    UnknownValue(serde_json::Value),
}


pub async fn get_env_impact(configuration: &configuration::Configuration, period: &str) -> Result<models::EnvImpactReport, Error<GetEnvImpactError>> {
    let local_var_period = period;

    let mut path_params_map = std::collections::HashMap::new();
                path_params_map.insert("period".to_string(), crate::apis::urlencode(local_var_period));

    let query_params_vec: Vec<(&str, String)> = Vec::new();
    let query_params_option = if query_params_vec.is_empty() { None } else { Some(query_params_vec.as_slice())};
        let body_payload_option: Option<()> = None;

    utils::execute_request(
    configuration,
    reqwest::Method::GET,
    "/env-impact/{period}",
    path_params_map,
    query_params_option,
    body_payload_option,
    ).await
}
pub async fn get_organization(configuration: &configuration::Configuration, ) -> Result<models::Organization, Error<GetOrganizationError>> {

    let path_params_map = std::collections::HashMap::new();

    let query_params_vec: Vec<(&str, String)> = Vec::new();
    let query_params_option = if query_params_vec.is_empty() { None } else { Some(query_params_vec.as_slice())};
        let body_payload_option: Option<()> = None;

    utils::execute_request(
    configuration,
    reqwest::Method::GET,
    "/organization",
    path_params_map,
    query_params_option,
    body_payload_option,
    ).await
}
pub async fn get_usage_report(configuration: &configuration::Configuration, period: Option<&str>) -> Result<models::GetUsageReport200Response, Error<GetUsageReportError>> {
    let local_var_period = period;

    let path_params_map = std::collections::HashMap::new();

    let mut query_params_vec: Vec<(&str, String)> = Vec::new();
                        if let Some(value) = &local_var_period {
                            query_params_vec.push(("period", value.to_string()));
                        }
    let query_params_option = if query_params_vec.is_empty() { None } else { Some(query_params_vec.as_slice())};
        let body_payload_option: Option<()> = None;

    utils::execute_request(
    configuration,
    reqwest::Method::GET,
    "/usage-report",
    path_params_map,
    query_params_option,
    body_payload_option,
    ).await
}
