/*
 * Exoscale Public API
 *
 *  Infrastructure automation API, allowing programmatic access to all Exoscale products and services.  The [OpenAPI Specification](http://spec.openapis.org/oas/v3.0.3.html) source of this documentation can be obtained here:  * [JSON format](https://openapi-v2.exoscale.com/source.json) * [YAML format](https://openapi-v2.exoscale.com/source.yaml)
 *
 * The version of the OpenAPI document: 2.0.0
 * Contact: api@exoscale.com
 * Generated by: https://openapi-generator.tech
 */

use reqwest;
use serde::{Deserialize, Serialize};
use crate::{models, utils,apis::ResponseContent};
use super::{Error, configuration};


/// struct for typed errors of method [`create_snapshot`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum CreateSnapshotError {
    UnknownValue(serde_json::Value),
}


/// struct for typed errors of method [`delete_snapshot`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum DeleteSnapshotError {
    UnknownValue(serde_json::Value),
}


/// struct for typed errors of method [`export_snapshot`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum ExportSnapshotError {
    UnknownValue(serde_json::Value),
}


/// struct for typed errors of method [`get_snapshot`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum GetSnapshotError {
    UnknownValue(serde_json::Value),
}


/// struct for typed errors of method [`list_snapshots`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum ListSnapshotsError {
    UnknownValue(serde_json::Value),
}


/// struct for typed errors of method [`promote_snapshot_to_template`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum PromoteSnapshotToTemplateError {
    UnknownValue(serde_json::Value),
}


pub async fn create_snapshot(configuration: &configuration::Configuration, id: String) -> Result<models::Operation, Error<CreateSnapshotError>> {
    let local_var_id = id;

    let mut path_params_map = std::collections::HashMap::new();
                path_params_map.insert("id".to_string(), crate::apis::urlencode(local_var_id));

    let query_params_vec: Vec<(&str, String)> = Vec::new();
    let query_params_option = if query_params_vec.is_empty() { None } else { Some(query_params_vec.as_slice())};
        let body_payload_option: Option<()> = None;

    utils::execute_request(
    configuration,
    reqwest::Method::POST,
    "/instance/{id}:create-snapshot",
    path_params_map,
    query_params_option,
    body_payload_option,
    ).await
}
pub async fn delete_snapshot(configuration: &configuration::Configuration, id: String) -> Result<models::Operation, Error<DeleteSnapshotError>> {
    let local_var_id = id;

    let mut path_params_map = std::collections::HashMap::new();
                path_params_map.insert("id".to_string(), crate::apis::urlencode(local_var_id));

    let query_params_vec: Vec<(&str, String)> = Vec::new();
    let query_params_option = if query_params_vec.is_empty() { None } else { Some(query_params_vec.as_slice())};
        let body_payload_option: Option<()> = None;

    utils::execute_request(
    configuration,
    reqwest::Method::DELETE,
    "/snapshot/{id}",
    path_params_map,
    query_params_option,
    body_payload_option,
    ).await
}
pub async fn export_snapshot(configuration: &configuration::Configuration, id: String) -> Result<models::Operation, Error<ExportSnapshotError>> {
    let local_var_id = id;

    let mut path_params_map = std::collections::HashMap::new();
                path_params_map.insert("id".to_string(), crate::apis::urlencode(local_var_id));

    let query_params_vec: Vec<(&str, String)> = Vec::new();
    let query_params_option = if query_params_vec.is_empty() { None } else { Some(query_params_vec.as_slice())};
        let body_payload_option: Option<()> = None;

    utils::execute_request(
    configuration,
    reqwest::Method::POST,
    "/snapshot/{id}:export",
    path_params_map,
    query_params_option,
    body_payload_option,
    ).await
}
pub async fn get_snapshot(configuration: &configuration::Configuration, id: String) -> Result<models::Snapshot, Error<GetSnapshotError>> {
    let local_var_id = id;

    let mut path_params_map = std::collections::HashMap::new();
                path_params_map.insert("id".to_string(), crate::apis::urlencode(local_var_id));

    let query_params_vec: Vec<(&str, String)> = Vec::new();
    let query_params_option = if query_params_vec.is_empty() { None } else { Some(query_params_vec.as_slice())};
        let body_payload_option: Option<()> = None;

    utils::execute_request(
    configuration,
    reqwest::Method::GET,
    "/snapshot/{id}",
    path_params_map,
    query_params_option,
    body_payload_option,
    ).await
}
pub async fn list_snapshots(configuration: &configuration::Configuration, ) -> Result<models::ListSnapshots200Response, Error<ListSnapshotsError>> {

    let path_params_map = std::collections::HashMap::new();

    let query_params_vec: Vec<(&str, String)> = Vec::new();
    let query_params_option = if query_params_vec.is_empty() { None } else { Some(query_params_vec.as_slice())};
        let body_payload_option: Option<()> = None;

    utils::execute_request(
    configuration,
    reqwest::Method::GET,
    "/snapshot",
    path_params_map,
    query_params_option,
    body_payload_option,
    ).await
}
pub async fn promote_snapshot_to_template(configuration: &configuration::Configuration, id: String, promote_snapshot_to_template_request: models::PromoteSnapshotToTemplateRequest) -> Result<models::Operation, Error<PromoteSnapshotToTemplateError>> {
    let local_var_id = id;
    let local_var_promote_snapshot_to_template_request = promote_snapshot_to_template_request;

    let mut path_params_map = std::collections::HashMap::new();
                path_params_map.insert("id".to_string(), crate::apis::urlencode(local_var_id));

    let query_params_vec: Vec<(&str, String)> = Vec::new();
    let query_params_option = if query_params_vec.is_empty() { None } else { Some(query_params_vec.as_slice())};
            let body_payload_option = Some(local_var_promote_snapshot_to_template_request);

    utils::execute_request(
    configuration,
    reqwest::Method::POST,
    "/snapshot/{id}:promote",
    path_params_map,
    query_params_option,
    body_payload_option,
    ).await
}
