/*
 * Exoscale Public API
 *
 *  Infrastructure automation API, allowing programmatic access to all Exoscale products and services.  The [OpenAPI Specification](http://spec.openapis.org/oas/v3.0.3.html) source of this documentation can be obtained here:  * [JSON format](https://openapi-v2.exoscale.com/source.json) * [YAML format](https://openapi-v2.exoscale.com/source.yaml)
 *
 * The version of the OpenAPI document: 2.0.0
 * Contact: api@exoscale.com
 * Generated by: https://openapi-generator.tech
 */

use reqwest;
use serde::{Deserialize, Serialize};
use crate::{models, utils,apis::ResponseContent};
use super::{Error, configuration};


/// struct for typed errors of method [`get_sos_presigned_url`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum GetSosPresignedUrlError {
    UnknownValue(serde_json::Value),
}


/// struct for typed errors of method [`list_sos_buckets_usage`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum ListSosBucketsUsageError {
    UnknownValue(serde_json::Value),
}


pub async fn get_sos_presigned_url(configuration: &configuration::Configuration, bucket: &str, key: Option<&str>) -> Result<models::GetSosPresignedUrl200Response, Error<GetSosPresignedUrlError>> {
    let local_var_bucket = bucket;
    let local_var_key = key;

    let mut path_params_map = std::collections::HashMap::new();
                path_params_map.insert("bucket".to_string(), crate::apis::urlencode(&local_var_bucket));

    let mut query_params_vec: Vec<(&str, String)> = Vec::new();
                        if let Some(value) = &local_var_key {
                            query_params_vec.push(("key", value.to_string()));
                        }
    let query_params_option = if query_params_vec.is_empty() { None } else { Some(query_params_vec.as_slice())};
        let body_payload_option: Option<()> = None;

    utils::execute_request(
    configuration,
    reqwest::Method::GET,
    "/sos/{bucket}/presigned-url",
    path_params_map,
    query_params_option,
    body_payload_option,
    ).await
}
pub async fn list_sos_buckets_usage(configuration: &configuration::Configuration, ) -> Result<models::ListSosBucketsUsage200Response, Error<ListSosBucketsUsageError>> {

    let path_params_map = std::collections::HashMap::new();

    let query_params_vec: Vec<(&str, String)> = Vec::new();
    let query_params_option = if query_params_vec.is_empty() { None } else { Some(query_params_vec.as_slice())};
        let body_payload_option: Option<()> = None;

    utils::execute_request(
    configuration,
    reqwest::Method::GET,
    "/sos-buckets-usage",
    path_params_map,
    query_params_option,
    body_payload_option,
    ).await
}
