/*
 * Exoscale API
 *
 * Infrastructure automation API, allowing programmatic access to all Exoscale products and services.
 *
 * The version of the OpenAPI document: 2.0.0
 * Contact: support@exoscale.com
 * Generated by: https://openapi-generator.tech
 */

use reqwest;
use serde::{Deserialize, Serialize};
use crate::{models, utils,apis::ResponseContent};
use super::{Error, configuration};


/// struct for typed errors of method [`create_vpc`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum CreateVpcError {
    UnknownValue(serde_json::Value),
}


/// struct for typed errors of method [`delete_vpc`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum DeleteVpcError {
    UnknownValue(serde_json::Value),
}


/// struct for typed errors of method [`get_vpc`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum GetVpcError {
    UnknownValue(serde_json::Value),
}


/// struct for typed errors of method [`list_vpcs`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum ListVpcsError {
    UnknownValue(serde_json::Value),
}


/// struct for typed errors of method [`update_vpc`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum UpdateVpcError {
    UnknownValue(serde_json::Value),
}


pub async fn create_vpc(configuration: &configuration::Configuration, create_vpc_request: models::CreateVpcRequest) -> Result<models::Operation, Error<CreateVpcError>> {
    let local_var_create_vpc_request = create_vpc_request;

    let path_params_map = std::collections::HashMap::new();

    let query_params_vec: Vec<(&str, String)> = Vec::new();
    let query_params_option = if query_params_vec.is_empty() { None } else { Some(query_params_vec.as_slice())};
            let body_payload_option = Some(local_var_create_vpc_request);

    utils::execute_request(
    configuration,
    reqwest::Method::POST,
    "/vpc",
    path_params_map,
    query_params_option,
    body_payload_option,
    ).await
}
pub async fn delete_vpc(configuration: &configuration::Configuration, id: String) -> Result<models::Operation, Error<DeleteVpcError>> {
    let local_var_id = id;

    let mut path_params_map = std::collections::HashMap::new();
                path_params_map.insert("id".to_string(), crate::apis::urlencode(local_var_id));

    let query_params_vec: Vec<(&str, String)> = Vec::new();
    let query_params_option = if query_params_vec.is_empty() { None } else { Some(query_params_vec.as_slice())};
        let body_payload_option: Option<()> = None;

    utils::execute_request(
    configuration,
    reqwest::Method::DELETE,
    "/vpc/{id}",
    path_params_map,
    query_params_option,
    body_payload_option,
    ).await
}
pub async fn get_vpc(configuration: &configuration::Configuration, id: String) -> Result<models::Vpc, Error<GetVpcError>> {
    let local_var_id = id;

    let mut path_params_map = std::collections::HashMap::new();
                path_params_map.insert("id".to_string(), crate::apis::urlencode(local_var_id));

    let query_params_vec: Vec<(&str, String)> = Vec::new();
    let query_params_option = if query_params_vec.is_empty() { None } else { Some(query_params_vec.as_slice())};
        let body_payload_option: Option<()> = None;

    utils::execute_request(
    configuration,
    reqwest::Method::GET,
    "/vpc/{id}",
    path_params_map,
    query_params_option,
    body_payload_option,
    ).await
}
pub async fn list_vpcs(configuration: &configuration::Configuration, ) -> Result<models::ListVpcs200Response, Error<ListVpcsError>> {

    let path_params_map = std::collections::HashMap::new();

    let query_params_vec: Vec<(&str, String)> = Vec::new();
    let query_params_option = if query_params_vec.is_empty() { None } else { Some(query_params_vec.as_slice())};
        let body_payload_option: Option<()> = None;

    utils::execute_request(
    configuration,
    reqwest::Method::GET,
    "/vpc",
    path_params_map,
    query_params_option,
    body_payload_option,
    ).await
}
pub async fn update_vpc(configuration: &configuration::Configuration, id: String, update_vpc_request: models::UpdateVpcRequest) -> Result<models::Vpc, Error<UpdateVpcError>> {
    let local_var_id = id;
    let local_var_update_vpc_request = update_vpc_request;

    let mut path_params_map = std::collections::HashMap::new();
                path_params_map.insert("id".to_string(), crate::apis::urlencode(local_var_id));

    let query_params_vec: Vec<(&str, String)> = Vec::new();
    let query_params_option = if query_params_vec.is_empty() { None } else { Some(query_params_vec.as_slice())};
            let body_payload_option = Some(local_var_update_vpc_request);

    utils::execute_request(
    configuration,
    reqwest::Method::PUT,
    "/vpc/{id}",
    path_params_map,
    query_params_option,
    body_payload_option,
    ).await
}
